*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.ba-container,.ba-container-center {
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}
body, html {
	min-height: 100%;
}
/* Text align */

.ba-text-left {
	text-align: left;
}

.ba-text-right {
	text-align: right;
}

.ba-text-center {
	text-align: center;
}

/* Floats */

.ba-float-left {
	float: left;
}

.ba-float-right {
	float: right;
}

.ba-float-none {
	float: none;
}

/* Vertical align */

.ba-vertical-align:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

[class*="ba-vertical-align-"] {
	display: inline-block;
}

.ba-vertical-align-top {
	vertical-align: top;
}

.ba-vertical-align-middle {
	vertical-align: middle;
}

.ba-vertical-align-bottom {
	vertical-align: bottom;
}


/* Absolute centering */

.ba-relative {
	position: relative;
}

.ba-absolute-center {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}


/* Circle element */

.ba-circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/*Responsive*/
.ba-row {
	display:flex;
	flex-wrap: wrap;
	margin-left: -30px;
  }
  
  .ba-row > [class*='ba-col-'] {
	padding-left: 30px;
  }
  
  .ba-col-1 {
	width:8.33%;
  }
  
  .ba-col-2 {
	width:16.666%;
  }
  
  .ba-col-3 {
	width:25%;
  }
  
  .ba-col-4 {
	width:33.333%;
  }
  
  .ba-col-5 {
	width:41.666%;
  }
  
  .ba-col-6 {
	width:50%;
  }
  
  .ba-col-7 {
	width:58.33%;
  }
  
  .ba-col-8 {
	width:66.666%;
  }
  
  .ba-col-9 {
	width:75%;
  }
  
  .ba-col-10 {
	width:83.333%;
  }
  
  .ba-col-11 {
	width:91.666%;
  }
  
  .ba-col-12 {
	width:100%;
  }
  /* Phone landscape and bigger */
  @media (max-width: 768px){
	.ba-col-small-12 {
		width: 100%; }
	  
	  .ba-col-small-11 {
		width: 91.6666%; }
	  
	  .ba-col-small-10 {
		width: 83.3333%; }
	  
	  .ba-col-small-9 {
		width: 75%; }
	  
	  .ba-col-small-8 {
		width: 66.6666%; }
	  
	  .ba-col-small-7 {
		width: 58.33%; }
	  
	  .ba-col-small-6 {
		width: 50%; }
	  
	  .ba-col-small-5 {
		width: 41.66%; }
	  
	  .ba-col-small-4 {
		width: 33.333%; }
	  
	  .ba-col-small-3 {
		width: 25%; }
	  
	  .ba-col-small-2 {
		width: 16.666%; }
	  
	  .ba-col-small-1 {
		width: 8.3333%; }
  }

  @media (max-width: 1023px) {
	.ba-col-medium-12 {
	  width: 100%;
	}
	.ba-col-medium-11 {
	  width: 91.6666%;
	}
	.ba-col-medium-10 {
	  width: 83.3333%;
	}
	.ba-col-medium-9 {
	  width: 75%;
	}
	.ba-col-medium-8 {
	  width: 66.6666%;
	}
	.ba-col-medium-7 {
	  width: 58.33%;
	}
	.ba-col-medium-6 {
	  width: 50%;
	}
	.ba-col-medium-5 {
	  width: 41.66%;
	}
	.ba-col-medium-4 {
	  width: 33.333%;
	}
	.ba-col-medium-3 {
	  width: 25%;
	}
	.ba-col-medium-2 {
	  width: 16.666%;
	}
	.ba-col-medium-1 {
	  width: 8.3333%;
	}
  }
